@mixin flexStart {
    display: flex;
    justify-content: flex-start;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin flexEvenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin flexAround {
    display: flex;
    justify-content: space-around;
}

@mixin bgSettings {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}