$color-white: #f5f5f5;
$color-header: #f7f3ec;
$color-presentation: #fafafa;
$color-sand: #ece2d1;
$color-shaded: #98918a;
$color-lightbrown: #706e6a;
$color-brown: #463c2f;
$color-darkbrown: #302d28;
$color-green: #879f55;
$color-red: #ff6464;


$font-opensans: 'Open Sans', sans-serif;


$imgShadow: 10px 10px 40px rgba(0, 0, 0, 0.3);

$cornerRadius: 4px;

$letterSmall: .75rem;
$letterNormal: 1rem;
$letterBig: 2rem;

